<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
    <!-- Carregando o Bootstrap do WebJars -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f4f7f6; /* Cor de fundo suave */
        }
        .container {
            max-width: 400px;
            margin: 100px auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        button {
            background-color: #007bff; /* Cor de botão mais destacada */
            border-color: #007bff;
        }
    </style>
</head>
<body>
<div class="container">

    <div th:if="${message == null}">
        <h1 class="text-center">Reset Password</h1>
        <br>
        <form action="/users/recover-password" method="GET">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>

    <div id="message" th:if="${message != null}">
        <h1 class="text-center">Reset Password</h1>
        <h4 class="text-center" th:text="'Your password is: ' + ${message}" style="margin: 20px 0; color: green;"></h4>
    </div>

    <div class="text-center mt-3">
        <a href="/login" class="text-secondary">Back to Login</a>
    </div>
</div>

<script src="/webjars/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="/webjars/popper.js/2.5.2/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>